<!DOCTYPE html>
<html>
<head>
  <title>Episode4</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Hello Overriding Layout</h1>

<div>
<%= yield %>
</div>

</body>
</html>
